@use "../utils" as *;
@use "../global" as *;

.memories_section {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--src) center center / 100% 100% no-repeat;
  background-color: rgb(33 40 48);

  @include sm {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.image_group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 189px auto 210px;
  width: 672px;
}

.memory_image_one {
  position: absolute;
  top: -103px;
  right: -116px;
  width: 170px;
  height: 170px;
}

.flex_column_layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px 0;

  @include xs {
    margin: 0 0 0 10px;
    width: 80%;
  }

  @include xxs {
    margin: 0;
    width: 63%;
  }
}

.hero_title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px 0;
  width: 100%;

  @include xs {
    width: 75%;
  }
}

.hero_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 50px/1 "LTSaeada Regular", Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;

  @include md {
    font-size: 35px;
  }
}

.description_title {
  font: 100 29px/1 "LTSaeada Regular", Helvetica, Arial, serif;
  color: rgb(0 0 0);
  text-align: center;

  @include md {
    font-size: 23px;
  }

  @include xs {
    font-size: 18px;
  }

  @include xxs {
    font-size: 14px;
  }
}

.description_title_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description_title_span0 {
  font: 100 1em/1 "LT Saeada", Helvetica, Arial, serif;
  color: rgb(255 255 255);
}

.description_title_span1 {
  font: 500 1em/1 "LT Saeada", Helvetica, Arial, serif;
  color: rgb(158 249 255);
}

.action_group {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 32.89%;

  @include sm {
    width: 30%;
  }
}

.action_rectangle {
  position: relative;
  min-height: 65px;
  background-color: rgb(158 249 255);
  border-radius: 32.5px;

  @include xxs {
    min-height: 55px;
  }
}

.view_button_label {
  position: absolute;
  top: 19px;
  left: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 29px;
  font: 400 29px/1 "LTSaeada Regular", Helvetica, Arial, serif;
  color: rgb(48 53 63);
  text-align: center;

  @include sm {
    left: 34%;
  }

  @include xs {
    left: 31%;
    font-size: 25px;
  }

  @include xxs {
    top: 13px;
    left: 24%;
    font-size: 20px;
  }
}

.memory_image_two {
  position: absolute;
  top: -122px;
  left: -30px;
  width: 259px;
  height: 258px;
  opacity: 0.31;

  @include md {
    display: none;
  }
}

.memory_image_three {
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 180px;
  height: 260px;
}

.memory_image_four {
  position: absolute;
  top: 79px;
  left: 0;
  width: 173px;
  height: 338px;
  opacity: 0.4;
}
